@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'WickedMouse';
  src: url('./fonts/WickedMouse.ttf');
}

/* CUSTOM CSS */
.tag{
  border-left: 2px solid white;
  padding: 0.25rem 0.5rem;
}

/* ANIMATION */
.speed{
    animation: bounce infinite ease-in-out;
}

.speed-slow{
  animation-duration: 15s;
}

.speed-medium{
  animation-duration: 10s;
}

.speed-fast{
  animation-duration: 5s;
}

@keyframes bounce {
  0%, 100% {
    margin-left: -2%;
  }
  50% {
    margin-left: 0%;
  }
}